@tailwind components;

@layer components {
  body {
    @apply font-sans
    leading-6	
    text-gray-700
    font-light 
    text-sm
    dark:text-white
    dark:bg-gray-700
    bg-base;
  }
  /* .container {
    @apply xs:max-w-max xs:w-full xs:min-w-full;
  } */

  .btn {
    @apply py-2
    px-6
    bg-white
    text-black
    rounded-2xl
     hover:bg-black 
     hover:text-white 
     focus:outline-none
     focus:ring-2
    focus:ring-blue-400
     focus:ring-opacity-75
     transition-all
     duration-300;
  }
}
